body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}

.main_container {
  max-width: 100% !important;
  margin: 0 auto;

}

.container{
max-width: 1140px;
margin: auto;
}
.top_bar h6{
font-size: 20px;
text-align: center;
font-weight: 500;
padding: 0px;
margin: 0px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F93549;   /* red background */
  padding: 10px 40px;
  color: white;
  flex-wrap: wrap;
  position: relative;
}

/* Logo */
.logo img {
  height: 48px;
  width: 124px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  border-right: 2px solid white;  /* white border on right */
  padding: 0 14px;
}

/* Remove border from last link */
.nav-links a:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}


.nav-links a:hover {
  text-decoration: underline;
}

/* Toggle button (hidden by default) */
/* Toggle button (hidden by default) */
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Cross icon when menu is open */
.menu-toggle.active {
  transform: rotate(90deg);
}



/* Hero_Section */

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  pointer-events: none; /* so clicks pass through */
}


/* Overlay */
.hero-overlay {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 5px 25px 5px;
  background: white;
  max-width: 980px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  border-radius: 30px;
  position: relative;
  top:90px
}
.hero-content {
  text-align: center; /* or left/right depending on design */
}

.hero-title {
  font-size: 56px;
  font-weight: 900;
  margin: 0;
  color: black;
  line-height: 1.2;
  padding-bottom: 20px 10px 20px 10px;
}

.hero-text-btn {
  display: flex;
  align-items: center;
  gap: 20px; /* spacing between text and button */
  padding: 10px 40px 0px 40px;
  
}

.hero-subtitle {
  text-align: left;
  margin: 0;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #007bff; /* change color */
  color: white;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}
/* Content Card */

/* Image inside content */
.hero-content img {
  height: auto;
  max-width: 500px;
}



/* Paragraph */
.hero-content p {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}

/* Button */
.hero-content .btn {
  width: 30%;
  padding: 10px 6px;
  background: #4787F3;
  color: white;
  text-decoration: none;
  border-radius: 60px;
  font-size: 18px;
  font-weight: 400;
  transition: background 0.3s ease;
}

.hero-content .btn:hover {
  background: #1e40af;
}

/* Section with background image */

.section {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  min-height: 500px;
  margin: auto; 
}

/* Image box */
.image-box {
  flex: 1;
  
}
.image-box img {
  width: 118%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
 .video-box {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
 }

  .section-video {
  width: 1182px;
  height: 554px;
  border: 16px solid black;
  border-radius: 45px;
  object-fit: cover;
  
  }
  video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

/* Content box */
.content {
  flex: 1;
  max-width: 500px;
  padding: 60px 30px;
  
}

.content ul {
  list-style: none;
  padding: 0;
  margin: -10px 0 0 0;
}

.content li {
  margin-bottom: 5px;
  font-size: 19px;
}

.content li strong {
  display: block;
  color: #000;
}

/* Typography styles */
.highlight {
  color: #F93549 !important;
  font-size: 32px;
  font-weight: 500;
}
.highlight span {
  color: #000;
}
.Materials {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}
.Materials span {
  font-size: 32px;
  font-weight: 500;
  color: #000;
}
.sub_highlight {
  color: #F93549 !important;
  font-weight: bold;
}
.para1 {
  font-size: 32px;
  font-weight: 400; 
  color: #000;
  line-height: 1.2;
  width: 70%;
}
strong {
  font-size: 32px;
  font-weight: 500;
  color: #000;
}


/* See_Section */

/* See It in Action Section */
.see-section {
  background: #e53935; /* Red background */
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.heading-2 {
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: 500;
}

/* Steps row */
.steps {
  display: flex;
  justify-content: space-between; /* equal spacing */
  align-items: center;
  margin-bottom: 50px;

}

.step {
  text-align: center;
}

.step img {
  width: 219px;
  height: 100px;
  object-fit: contain; /* keep aspect ratio inside box */
  display: block;
  margin: 0 auto 8px;
  padding-bottom: 20px;
}

.step p {
  border-top: 1px solid #FFFFFF;
  padding-top: 10px;
  margin: 0 10px;
  font-size: 21px;
  height: 55px;
}

.step span {
  font-weight: bold;
  color: #fff;
}


/* Faq_Section */

.faq-section {
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}



/* Accordion styles */
.accordion {
  overflow: hidden;
  text-align: left;
  padding-bottom: 40px;
}

.accordion-header {
  width: 100%;
  background: #f0f0f0;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:  'Nunito Sans', sans-serif !important; 
}

.accordion-header:hover {
  background: #e0e0e0;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background: #fff;
  padding: 0 15px;
  margin-bottom: 10px;
}

.accordion-body p {
  margin: 15px 0;
}

/* .accordion-body.active {
  padding: 15px;
} */

/* Icon */
.icon {
  font-size: 20px;
  font-weight: normal;
}

.contact-section {
  background-color: #2F2F2F;
  color: white;
  text-align: center;
  padding: 50px 20px;
  font-family: 'Nunito Sans', sans-serif !important;
}



.contact-form {
  margin: 0 auto 40px auto;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

.contact-form select{
width: 103% !important;
}

.contact-form button {
  display: inline-block;
  padding: 10px 40px;
  background: #4787F3;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  transition: background 0.3s ease;
  margin-top: 30px;
  border: none;
  font-family: 'Nunito Sans', sans-serif !important;

}

.contact-form button:hover {
  background-color: #0056b3;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px; /* spacing between items */
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid #444;
  font-size: 14px;
  flex-wrap: wrap;
  text-align: left;
}
.footer-item h4{
font-weight: 400;
font-size: 18px;
}

.footer .logo {
  height: 48px;
  width: 124px;
  margin-bottom: 10px;
}

/* Wrapper to hold custom arrow */
.select-wrapper {
  position: relative;
  width: 100%;
}

/* Style the select */
.select-wrapper select {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  background-color: #fff;
  color: #000;

  /* Remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Custom arrow from assets */
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 12px;
  height: 12px;
  background: url("assets/drop.png") no-repeat center center;
  background-size: contain;
  pointer-events: none;
  transform: translateY(-50%);
}



/* Modal CSS */

/* Modal wrapper */
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-content {
  background: #F93549;
  padding: 30px 20px 20px; /* space for cross */
  max-width: 800px;
  width: 90%;
  position: relative;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  height: auto;      /* ✅ normal size */
  max-height: none;  /* ✅ no scroll on large screens */
}

/* Close button */
.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  z-index: 1100;
  display: block;
}

.close-btn:hover {
  color: #000;
}


.modal-content p {
  margin-bottom: 15px;
  font-size: 16px;
}

.modal-content label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
  text-align: left;
}

.modal-content input {
  width: 90%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-family: 'Nunito Sans', sans-serif;
}

.modal-content button {
  padding: 10px 20px;
  background-color: white;
  color: #F93549;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: 'Nunito Sans', sans-serif !important;
  transition: 0.3s;
}


.modal-content button:hover {
  background: #F93549;
  color: white;
  border: 1px solid white;
}

.featured_section{
  background-color: #f6f6f6;
}
.featured{
text-align: center;
width: 50%;
margin: auto;
padding-top: 35px;

}

/* ============ Mobile Styles ============ */
/* ✅ Responsive modal for small screens */

@media (max-width: 1300px){
  .steps{
  flex-wrap: wrap
  };
 
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none; /* hidden by default */
    flex-direction: column;
    width: 88% !important;
    background: #F93549;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 20px;
    z-index: 20;
    margin-top: 10px;
  }
  .nav-links.show {
    display: flex; /* show when toggle clicked */
  }
  .nav-links a {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  .nav-links a:last-child {
    border-bottom: none;
  }
  .nav-links a {

  border-right:  none;}
  
.image-box img {
  width: 100% ;
  height: auto;
  display: block;
  margin: 0 auto;
}
.footer{
flex-direction: column;
gap: 0px;
}

.hero-text-btn{
flex-wrap: wrap;
}
}
@media (max-width: 768px) {
  .modal-content {
    max-width: 95%;
    padding: 35px 20px 20px;
    max-height: 90vh;   /* ✅ fit inside viewport */
    overflow-y: auto; 
  }
  .heading-2 {
    font-size: 22px;
  }
  .modal-content input {
    padding: 12px;
  }
  .close-btn {
    font-size: 24px;
    top: 10px;
    right: 10px;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none; /* hidden by default */
    flex-direction: column;
    width: 50%;
    background: #F93549;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 20px;
   z-index: 20;
   margin-top: 10px;
  }
  .nav-links.show {
    display: flex; /* show when toggle clicked */
  }
  .nav-links a {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  .nav-links a:last-child {
    border-bottom: none;
  }
  .section {
  flex-direction: column;
  gap: 30px;
  }
}
@media (max-width: 768px) {
  .hero-content {
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 18px;
  }

  .hero-content img {
    max-width: 200px;
   
  }
  .hero-overlay {
  top: 0;
  }
  .hero-text-btn{
  width: 100%;
  padding: 0px;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 21px;
    padding-bottom: 10px;
  }
  .hero-content .btn {
    font-size: 12px;
    padding: 8px 14px;
  }

  .hero-overlay{
  margin-left: 14px;
  margin-right: 14px;
  }
  .hero-content{
  margin: 0px;
  } 
}

@media (max-width: 768px) {
  .section {
    justify-content: center; /* Center on mobile */
    padding: 40px 20px;
  }
  .content {
    max-width: 100%;
  }
   .section-video{
  width: 100%;
  }
}

@media (max-width: 768px) {
  .steps {
    flex-direction: column;
  }
  .step {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
.accordion-header{
text-align: left;
}
.featured-title{
width: 100%;
font-size: 28px;
}
.featured{
width: 100%;
}
.content{
padding: 0px;
}
.top_bar h6{
font-size: 16px;
}
}

@media (max-width:1200px) {
  .contact-form input{
width: 60%;
}
form textarea{
width:80% !important ;
}  

 .select-wrapper {
  width: 71% !important;
  margin: auto;
  }
}